ion-content {
    
      .btn{
          height: 25%;
      }  
        background-color: black!important;
        
    
    .list{
        background-color: black!important;    
    }

   h3,h2{
           color: aqua;
   }

}
.ion-toolbar 
{
    color: aqua;
.head{

    background-color: black!important;  
}}